# Debugging info
Debug/
x64/
ipch/
#.vs/ - Discovered this folder has a purpose for TopicA only!
TopicB/.vs/TopicB/v14/.suo
TopicD/.vs/TopicD/v14/.suo
TopicE/.vs/TopicE/v14/.suo
TopicF/.vs/TopicF/v14/.suo
8point2/.vs/8point2/v14/.suo

# Open Files info
*.opendb
.~lock*
~AutoRecover*

#Other Junk
*.VC.db